/* Universal selector (selects all) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element selector for body */
body {
    background-color: #d9dcd6;
}

/* class selector for header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* element selector for h1 */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* element selector for h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* element selector for h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* class selector for seo class */
.seo {
    color: #d9dcd6;
}

/* element selector for nav */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* element selector for list elements that are contained in nav */
nav li {
    display: inline-block;
    margin-left: 25px;
}

/* element selector for a */
a {
    color: #ffffff;
    text-decoration: none;
}

/* element selector for p */
p {
    font-size: 16px;
}

/* Selector for img targeting only the img elements in hero class */
.hero img {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;

}

/* class selector for float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* class selector for float-right class */
.float-right {
    float: right;
    margin-left: 25px;
}


/* class selector for content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* class selector for benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* grouped class selectors that have the same functionality */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Selector for img targeting only the img elements in benefits class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* grouped class selectors that have the same functionality */
.search-engine-optimization,
.social-media-marketing,
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Selector for img , targeting only the img elements in section element */
section img {
    max-height: 200px;
}


/* class selector for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* hides the footer class as wanted  */
    visibility: hidden;
}

/* element selector targeting only h2 elements in the class footer  */
.footer h2 {
    font-size: 20px;
}